@import "./globals.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  a {
    color: var(--primary);
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    @apply text-muted-foreground;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #555;
}

table th:not(:last-child)::after {
  content: "";
  height: 50%;
  border-right: 1px solid var(--color-border);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
