@import "./globals.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}