@import "./globals.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  a:not(:has(*)) {
    color: var(--primary);
  }

  a:not(:has(*)):hover {
    text-decoration: underline;
  }

  p {
    @apply text-muted-foreground;
  }

  .form-control {
    /* Base styling */
    @apply border-input flex h-10 w-full min-w-0 rounded-md border py-2 text-base;
    @apply bg-background text-foreground placeholder:text-muted-foreground/50;
    @apply transition-[color,box-shadow] outline-none;
    @apply selection:bg-primary selection:text-primary-foreground;
    @apply px-4; /* Default padding */

    /* Dark mode adjustments */
    @apply dark:bg-input/30;

    /* File input styling */
    @apply file:border-border file:text-muted-foreground file:inline-flex file:border-0 file:border-e file:bg-transparent file:py-0 file:pe-1 file:font-normal;

    /* Disabled state */
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-70;

    /* Focus state */
    @apply focus-visible:border-primary;
    @apply focus-visible:ring-primary/50 focus-visible:ring-[3px];
    @apply focus-within:border-primary;
    @apply focus-within:ring-primary/50 focus-within:ring-[3px];

    /* Invalid/aria-invalid state */
    @apply aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40;
    @apply aria-invalid:border-destructive;
  }

  .btn {
    @apply [&_svg]:shrink-0;
    @apply inline-flex shrink-0 cursor-pointer flex-wrap items-center justify-center gap-2 border-transparent text-center leading-[1em] no-underline shadow transition-[color,background-color,border-color,opacity,box-shadow,transform,scale] duration-[0.2s] ease-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-95 disabled:scale-100 disabled:cursor-not-allowed disabled:opacity-70 motion-reduce:hidden [&_svg]:pointer-events-none;
  }
  .btn.contained {
    @apply bg-background text-foreground hover:bg-foreground/5;
  }
  .btn.outlined {
    @apply border-border bg-background hover:bg-muted border shadow-none;
  }
  .btn.ghost {
    @apply text-foreground hover:bg-accent hover:text-foreground shadow-none;
  }
  .btn.text {
    @apply hover:text-foreground cursor-auto shadow-none;
  }
  .btn.link {
    @apply underline-offset-4 shadow-none hover:underline;
  }
  a.btn {
    @apply no-underline;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #555;
}

table th:not(:last-child)::after {
  content: "";
  height: 50%;
  border-right: 1px solid var(--color-border);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
